<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | AutoU</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
    {% include "header.html" %}

    <div class="content">
        <h1>Bem-vindo à AutoU</h1>
        <p class = "paragraph">
            Este é o painel principal do projeto para a {{EnterpriceName}}. Aqui você poderá validar emails, visualizar os resultados
            e navegar por outras funcionalidades do sistema. Use os botões acima para acessar cada seção.
        </p>

        <div class="info-section">
            <div class="card">
                <h2>Validação de Emails</h2>
                <p class = "paragraph">Verifique se os emails são válidos automaticamente e com precisão. Ideal para campanhas e listas.</p>
            </div>

            <div class="card">
                <h2>Visualização</h2>
                <p class = "paragraph">Acesse os resultados das validações de forma rápida e organizada com histórico completo.</p>
            </div>

        </div>
    </div>
</body>
</html>
